h1 {
    font-size:5em;
            font-family:"Segoe WP SemiLight",Verdana,Helvetica,sans-serif;

}

h2 {
    font-size: 1.5em;
    text-align: center;
            font-family:"Segoe WP SemiLight",Verdana,Helvetica,sans-serif;
            margin-bottom:2%;

}

p {
    font-size:14px;
    font-family:"Segoe UI",Verdana,Helvetica,sans-serif;
}


#DHCM {
height: 100%;
overflow: scroll;
text-align: center;
}

#DCHM ul {
    height:100%;
}

#rendering {
    padding-left:0;
    padding-right:0;
    overflow: scroll;
}

#legendBar {
    position:fixed;
}

[class*="block-grid-"] {
    margin:0;
}


li.network_box {
background-color: black;
display: inline-block;
height: 500px;
width: 355px;
margin: 15px;
float: none;
}

    li.farm_box {
background-color: #00ff00;
height: 89px;
border: 1px solid cyan;
margin: 4.1%;
padding: 2%;
    }

    li.farm_box:hover {
        background-color:mediumpurple;
    }

@media only screen and (max-width: 40em) {
    #DHCM {
        overflow:visible;
    }

        li.farm_box {
padding:2%;
    }

    #rendering {
        height:initial;
        overflow:visible;
    }

    #legendBar {
        position:relative;
    }
}